.section_about_us p {
    color: var(--text-secondary-color);
    padding-bottom: 40px;
}

.section_about_us img {
    width: 100%;
    border-radius: 4px;
}

.section_about_us :where(h1, h2, h3, h4, h5, h6) {
    color: var(--text-primary-color);
    font-weight: 600;
    padding-bottom: 32px;
}

.section_about_us a {
    color: var(--text-highlight-color);
}

.section_about_us {
    color: var(--text-secondary-color);
}