.section_contact {
    display: flex;
    gap: 42px;
    padding-top: 0;
    min-height: fit-content;
}

.section_contact img {
    width: calc(100% - 501px);
    object-fit: cover;
    background-position: center;
    border-radius: 32px;
}

.section_contact form.contact_form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 18px;
    width: 100%;
    max-width: 480px;
}

.section_contact form.contact_form .name_wrap {
    display: flex;
    gap: 12px;
    width: 100%;
}

.section_contact form.contact_form .name_wrap .form_field {
    width: calc(50% - 6px);
}

.section_contact form.contact_form .form_field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section_contact form.contact_form .form_field label {
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 600;
    color: #040404;
}

.section_contact form.contact_form .form_field label span {
    color: #ff0000;
    padding-left: 2px;
    font-weight: 500;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root::before {
    display: none !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root::after {
    display: none !important;
}

.section_contact form.contact_form .form_field .contact_field {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 48px;
    outline: none;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-family);
}

.section_contact form.contact_form .form_field .contact_field:focus {
    border: 1px solid #0071f284;
    box-shadow: 0 0 1px 2px #c8e2ff;
}

.section_contact form.contact_form .form_field .phone_field {
    position: relative;
    height: 48px;
    display: flex;
    justify-content: center;
}

.section_contact form.contact_form .form_field .phone_field .MuiButtonBase-root {
    z-index: 3;
    position: relative;
    left: 10px;
}

.section_contact form.contact_form .form_field .phone_field input {
    position: absolute;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 48px;
    padding: 0 16px;
    padding-left: 50px;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-family);
    z-index: 1;
    box-sizing: border-box;
}

.section_contact form.contact_form .form_field .phone_field input:focus {
    border: 1px solid #0071f284;
    box-shadow: 0 0 1px 2px #c8e2ff;
}

.section_contact form.contact_form .form_field textarea.contact_field {
    resize: none;
    min-height: 120px;
    min-width: 100%;
    padding: 16px;
}

.section_contact form.contact_form .btn_submit {
    background-color: #0070F2;
    border: none;
    width: 100%;
    height: 48px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

@media only screen and (max-width: 1260px) {
    .section_contact {
        justify-content: center;
    }
    .section_contact img {
        display: none;
    }

    .section_contact form.contact_form {
        border: 1px solid #f1f1f1;
        padding: 24px;
        border-radius: 8px;
    }
}

@media only screen and (max-width: 600px) {
    .section_contact form.contact_form {
        border: none;
        padding: 0;
        padding-top: 12px;
        padding-bottom: 32px;
    }
}