body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--tab-background-color);
    transition: top 0.3s ease;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

#header .logo_container,
#side_nav .logo_container {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#header .logo_container .open_sidenav_btn,
#side_nav .logo_container .open_sidenav_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: .2s ease-in;
}

#header .logo_container .open_sidenav_btn {
    display: none;
}

#header .logo_container .open_sidenav_btn:hover,
#side_nav .logo_container .open_sidenav_btn:hover {
    background-color: var(--background-color);
}

#header .logo_container .open_sidenav_btn svg,
#side_nav .logo_container .open_sidenav_btn svg {
    width: 28px;
    height: 28px;
}

#header .logo_container .open_sidenav_btn svg rect,
#side_nav .logo_container .open_sidenav_btn svg rect {
    fill: var(--text-primary-color);
}

#header .logo_container .logo_thumbnail {
    width: 150px;
    height: 60px;
    background: url('/assets/img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#side_nav .logo_container .logo_thumbnail {
    width: 60px;
    height: 60px;
    background: url('/assets/img/logo_m.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#header nav {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

#header nav>a {
    color: var(--text-primary-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    position: relative;
}

#header nav>a.active {
    color: var(--text-highlight-color);
    text-decoration: none;
}

#header nav>a svg path {
    fill: var(--text-primary-color);
}

#header nav>a.login_btn {
    font-weight: 500;
    display: block;
    border: 1px solid var(--btn-border-color);
    color: var(--btn-outline-color);
    border-radius: 4px;
    padding: 12px 20px;
}

#header nav>a.auth_cred {
    position: relative;
}

#header nav>a.auth_cred .auth_username {
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-wrap: nowrap;
}

#header nav>a.auth_cred .auth_nav_dropdown {
    position: absolute;
    top: 36px;
    right: 0;
    background-color: var(--tab-background-color);
    box-shadow: 2px 4px 4px #0000001e, -2px -1px 4px #0000001e;
    border-radius: 8px;
    padding: 20px 0;
    width: 240px;
}

#header nav>a.auth_cred .auth_nav_dropdown li .auth_nav_link {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    color: var(--text-primary-color);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

#header nav>a.auth_cred .auth_nav_dropdown li .auth_nav_link:hover {
    background-color: var(--body-background-color);
}

#header nav>a.auth_cred .auth_nav_dropdown li .auth_nav_link>svg path {
    fill: var(--text-primary-color);
}

.a_highlighted {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-primary-color);
}

.a_highlighted span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    z-index: 2;
    position: relative;
    left: -24px;
    z-index: 1;
    font-family: 'Syne', sans-serif;
    text-wrap: nowrap;
}

.a_highlighted .back_light {
    display: block;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border-radius: 18px;
    background-color: var(--text-highlight-color);
    opacity: .6;
}

.a_highlighted svg path {
    fill: var(--text-primary-color);
}

#header .right_nav {
    position: relative;
    display: flex;
    gap: 30px;
}

#header .right_nav .open_search_btn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#header .right_nav .open_search_btn svg path {
    fill: var(--text-primary-color);
}

#header .right_nav .search_bar_container.hide {
    display: none;
}

#header .right_nav .search_bar_container {
    position: absolute;
    right: 0;
    width: 100%;
    min-width: 250px;
    z-index: 999;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .right_nav .search_bar_container .close_search_btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    border: none;
    background-color: transparent;
    min-width: 40px;
    height: 40px;
    cursor: pointer;
}

#header .right_nav .search_bar_container .close_search_btn svg path {
    fill: var(--text-primary-color);
}

#header .right_nav .search_bar_container .search_bar {
    padding: 16px 20px;
    padding-left: 40px;
    background-color: var(--body-background-color);
    border: none;
    border-radius: 4px;
    color: var(--text-primary-color);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
}

#header .right_nav .search_bar_container .search_bar:focus {
    outline: none;
}

#header.hide .right_nav .search_bar_container .search_suggestions {
    display: none;
}

#header .right_nav .search_bar_container .search_suggestions {
    background-color: var(--tab-background-color);
    box-shadow: 0 0 2px #0000006d;
    border-radius: 8px;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    top: 70px;
}

#header .right_nav .search_bar_container .search_suggestions::-webkit-scrollbar {
    display: none;
}

#header .right_nav .search_bar_container .search_suggestions .search_suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
}

#header .right_nav .search_bar_container .search_suggestions .search_suggestion:hover {
    background-color: var(--body-background-color);
}

#header .right_nav .search_bar_container .search_suggestions .search_suggestion .flex_pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#header .right_nav .search_bar_container .search_suggestions .search_suggestion svg {
    width: 24px;
    min-width: 24px;
}

#header .right_nav .search_bar_container .search_suggestions .search_suggestion svg path {
    fill: var(--text-secondary-color);
}

#header .right_nav .search_bar_container .search_suggestions .search_suggestion .flex_pair span {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: var(--text-primary-color);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#header .right_nav .search_bar_container .search_suggestions .search_suggestion .flex_pair span .brandname {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: var(--text-secondary-color);
    font-weight: 500;
}

#header nav a.open_cart_btn {
    margin-right: 20px;
}

#header nav a .cart_count {
    background-color: var(--text-highlight-color);
    width: 16px;
    height: 16px;
    color: var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -12px;
    font-family: 'Inter', sans-serif;
}

#side_nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row-reverse;
}

#side_nav .side_nav_overlay {
    background-color: #0000006d;
    width: calc(100% - 280px);
    height: 100vh;
}

#side_nav .side_nav_contents {
    background-color: var(--tab-background-color);
    width: 280px;
    height: 100%;
    padding: 20px;
}

#side_nav .side_nav_contents .side_nav_scroll {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: calc(100vh - 100px);
    gap: 30px;
    padding: 20px 0;
}

#side_nav .side_nav_contents ul {
    width: 100%;
}

#side_nav .side_nav_contents ul li {
    width: 100%;
}

#side_nav .side_nav_contents ul li a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 14px;
    padding: 10px 10px;
    color: var(--text-primary-color);
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    transition: .2s;
    cursor: pointer;
    transition: .2s;
    cursor: pointer;
}

#side_nav .side_nav_contents ul li a.active {
    color: var(--text-highlight-color);
}

#side_nav .side_nav_contents ul li a:hover {
    background-color: var(--body-background-color);
}

#side_nav .side_nav_contents ul li a svg {
    width: 20px;
    height: 20px;
}

#side_nav .side_nav_contents ul li a svg path {
    fill: var(--text-primary-color);
}

#side_nav .side_nav_contents ul li a.active svg path {
    fill: var(--text-highlight-color);
}

#side_nav .side_nav_contents .block_title {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-primary-color);
    padding: 0 10px;
}

#side_nav .side_nav_contents .block_title span {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-secondary-color);
}

.section_content {
    padding: 50px 15vw;
    padding-top: 150px;
    box-sizing: border-box;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--body-background-color);
}

.section_content .center_text {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.section_content .center_text span {
    color: var(--text-primary-color);
    font-weight: 500;
    font-size: 18px;
}

.section_content.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1260px) {
    #header {
        padding: 0 5vw;
    }

    .section_content {
        padding: 30px 5vw;
        padding-top: 130px;
    }
}

@media only screen and (max-width: 1120px) {
    #header .header_main_nav {
        display: none;
    }

    #header .logo_container .open_sidenav_btn {
        display: flex;
    }
}

@media only screen and (max-width: 720px) {
    #header .logo_container .logo_thumbnail {
        width: 60px;
        background: url('/assets/img/logo_m.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media only screen and (max-width: 480px) {
    #header .right_nav .auth_cred {
        display: none;
    }

    #header .right_nav .search_bar_container {
        position: fixed;
        right: 0;
        width: 100%;
        z-index: 999;
        padding: 10px 5vw;
    }

    #header .right_nav .search_bar_container .close_search_btn {
        left: 5vw;
    }

    #header .right_nav .search_bar_container .search_suggestions {
        width: calc(100% - 10vw);
    }
}