:root {
    --font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

#header {
    width: 100%;
    height: 80PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    transition: .3s ease;
    padding: 0 5vw;
}

#header .logo_container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#header .logo_container .open_sidenav_btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    transition: .3s ease;
    cursor: pointer;
    display: none;
}

#header .logo_container .open_sidenav_btn:hover {
    background-color: #f1f1f1;
}

#header .logo_container .logo_thumbnail {
    width: 150px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/img/logo.png');
}

#header #main_nav {
    height: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #e6f2fe;
}

#header #main_nav .search_bar_container {
    height: 100%;
    position: relative;
    border-radius: 24px;
    display: flex;
    padding-right: 20px;
    background-color: #fff;
    border: 2px solid #e6f2fe;
}

#header #main_nav .search_bar_container .search_ico {
    display: flex;
    height: 42px;
    width: 42px;
    justify-content: center;
    align-items: center;
}

#header #main_nav .search_bar_container .search_bar {
    width: 240px;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
}

#header #main_nav .search_bar_container .search_suggestions {
    max-height: 320px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 48px;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 12px #0404040e;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

#header #main_nav .search_bar_container .search_suggestions .separator {
    width: 100%;
    height: 1px;
    background-color: #f1f1f1;
    margin: 10px 0;
}

#header #main_nav .search_bar_container .search_suggestions .search_title {
    padding: 12px 16px;
    font-family: var(--font-family);
    color: #040404;
    font-size: 14px;
    font-weight: 600;
}

#header #main_nav .search_bar_container .search_suggestions li a {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 12px;
}

#header #main_nav .search_bar_container .search_suggestions li a:hover {
    background-color: #f1f1f1;
}

#header #main_nav .search_bar_container .search_suggestions li a svg {
    min-width: 24px;
    max-width: 24px;
}

#header #main_nav .search_bar_container .search_suggestions li a svg path {
    fill: #868686;
}

#header #main_nav .search_bar_container .search_suggestions li a .flex_pair {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header #main_nav .search_bar_container .search_suggestions li a .flex_pair span {
    font-family: var(--font-family);
    font-size: 14px;
    color: #040404;
    font-weight: 400;
}

#header #main_nav .search_bar_container .search_suggestions .no_results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 12px;
}

#header #main_nav .search_bar_container .search_suggestions .no_results span {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
}

#header #main_nav .search_bar_container .search_suggestions .no_results svg {
    opacity: .3;
    width: 80px;
}

#header #main_nav .nav_container {
    display: flex;
    height: 40px;
    gap: 32px;
    border-radius: 20px;
    padding: 0 32px;
    align-items: center;
    justify-content: center;
}

#header #main_nav .nav_container a {
    font-size: 14px;
    font-family: var(--font-family);
    color: #040404;
    font-weight: 400;
}

#header #main_nav .nav_container a.active {
    font-weight: 500;
}

#header .right_nav {
    display: flex;
    gap: 24px;
}

#header .right_nav .login_btn {
    background-color: #0160ff;
    color: #fff;
    font-size: 14px;
    height: 48px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: var(--font-family);
    font-weight: 500;
}

#header .right_nav .open_cart_btn {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#header .right_nav .open_cart_btn:hover {
    background-color: #f1f1f1;
}

#header .right_nav .open_cart_btn svg {
    width: 24px;
    height: 24px;
}

#header .right_nav .open_cart_btn svg path {
    fill: #040404;
}

#header .right_nav .open_cart_btn span {
    color: #fff;
    background-color: #0160ff;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

#header .right_nav .auth_cred {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

#header .right_nav .auth_cred .profile_pic {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    object-fit: cover;
    cursor: pointer;
}

#header .right_nav .auth_cred .auth_nav_dropdown {
    background-color: #fff;
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 2px 3px #0404040e;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    width: 220px;
    overflow: hidden;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
}

#header .right_nav .auth_cred .auth_nav_dropdown li.auth_details {
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
}

#header .right_nav .auth_cred .auth_nav_dropdown li.auth_details .auth_username {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
}

#header .right_nav .auth_cred .auth_nav_dropdown li.auth_details .auth_email {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
}

#header .right_nav .auth_cred .auth_nav_dropdown li.separator {
    background-color: #f1f1f1;
    width: 100%;
    max-height: 1px;
    min-height: 1px;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link.log_out span {
    color: #ff0000;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link:hover {
    background-color: #f1f1f1;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link svg {
    min-width: 24px;
    max-width: 24px;
    height: 24px;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link svg path {
    fill: #868686;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link.log_out svg path {
    fill: #ff0000;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link span {
    color: #040404;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
}

#search_nav_container {
    width: 100%;
    padding-bottom: 20px;
    position: fixed;
    top: 80px;
    z-index: 998;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_nav_container .search_bar_container {
    max-width: 400px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #f1f1f1;
    background-color: #f8f8f8;
    border-radius: 8px;
    position: relative;
}

#search_nav_container .search_bar_container .search_ico {
    display: flex;
    height: 42px;
    width: 42px;
    justify-content: center;
    align-items: center;
}

#search_nav_container .search_bar_container .search_bar {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
}

#search_nav_container .search_bar_container .search_suggestions {
    max-height: 320px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 52px;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 12px #0404040e;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

#search_nav_container .search_bar_container .search_suggestions .separator {
    width: 100%;
    height: 1px;
    background-color: #f1f1f1;
    margin: 10px 0;
}

#search_nav_container .search_bar_container .search_suggestions .search_title {
    padding: 12px 16px;
    font-family: var(--font-family);
    color: #040404;
    font-size: 14px;
    font-weight: 600;
}

#search_nav_container .search_bar_container .search_suggestions li a {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 12px;
}

#search_nav_container .search_bar_container .search_suggestions li a:hover {
    background-color: #f1f1f1;
}

#search_nav_container .search_bar_container .search_suggestions li a svg {
    min-width: 24px;
    max-width: 24px;
}

#search_nav_container .search_bar_container .search_suggestions li a svg path {
    fill: #868686;
}

#search_nav_container .search_bar_container .search_suggestions li a .flex_pair {
    display: flex;
    align-items: center;
    gap: 10px;
}

#search_nav_container .search_bar_container .search_suggestions li a .flex_pair span {
    font-family: var(--font-family);
    font-size: 14px;
    color: #040404;
    font-weight: 400;
}

#search_nav_container .search_bar_container .search_suggestions .no_results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 12px;
}

#search_nav_container .search_bar_container .search_suggestions .no_results span {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
}

#search_nav_container .search_bar_container .search_suggestions .no_results svg {
    opacity: .3;
    width: 80px;
}

/* sidenav */
#side_nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row-reverse;
}

#side_nav .side_nav_overlay {
    background-color: #0000006d;
    width: calc(100% - 280px);
    height: 100vh;
}

#side_nav .side_nav_contents {
    background-color: var(--tab-background-color);
    width: 280px;
    height: 100%;
    padding: 20px;
}

#side_nav .side_nav_contents .side_nav_scroll {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: calc(100vh - 100px);
    gap: 30px;
    padding: 20px 0;
}

#side_nav .side_nav_contents ul {
    width: 100%;
}

#side_nav .side_nav_contents ul li {
    width: 100%;
}

#side_nav .side_nav_contents ul li a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 14px;
    padding: 10px 10px;
    color: var(--text-primary-color);
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    transition: .2s;
    cursor: pointer;
    transition: .2s;
    cursor: pointer;
}

#side_nav .side_nav_contents ul li a.active {
    color: var(--text-highlight-color);
}

#side_nav .side_nav_contents ul li a:hover {
    background-color: var(--body-background-color);
}

#side_nav .side_nav_contents ul li a svg {
    width: 20px;
    height: 20px;
}

#side_nav .side_nav_contents ul li a svg path {
    fill: var(--text-primary-color);
}

#side_nav .side_nav_contents ul li a.active svg path {
    fill: var(--text-highlight-color);
}

#side_nav .side_nav_contents .block_title {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-primary-color);
    padding: 0 10px;
}

#side_nav .side_nav_contents .block_title span {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-secondary-color);
}

.section_content {
    padding: 50px 15vw;
    padding-top: 150px;
    box-sizing: border-box;
    min-height: 100vh;
    overflow: hidden;
    /* background-color: var(--body-background-color); */
}

.section_content .center_text {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.section_content .center_text span {
    color: var(--text-primary-color);
    font-weight: 500;
    font-size: 18px;
}

.section_content.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1260px) {
    #header #main_nav .search_bar_container {
        display: none;
    }
    
    #header #main_nav .search_bar_container .search_bar {
        width: 100%;
        display: none;
    }
}

@media only screen and (max-width: 800px) {
   #header #main_nav {
    display: none;
   }
}

@media only screen and (max-width: 720px) {
    #header .logo_container .logo_thumbnail {
        width: 60px;
        background: url('/assets/img/logo_m.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media only screen and (max-width: 480px) {
    #header .right_nav .auth_cred {
        display: none;
    }

    #header .right_nav .search_bar_container {
        position: fixed;
        right: 0;
        width: 100%;
        z-index: 999;
        padding: 10px 5vw;
    }

    #header .right_nav .search_bar_container .close_search_btn {
        left: 5vw;
    }

    #header .right_nav .search_bar_container .search_suggestions {
        width: calc(100% - 10vw);
    }
}