:root {
    --font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
}

#header {
    width: 100%;
    height: 80PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0 3px #0404040e;
    transition: .3s ease;
    padding: 0 5vw;
}

#header .logo_container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#header .logo_container .open_sidenav_btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    transition: .3s ease;
    cursor: pointer;
    display: none;
}

#header .logo_container .open_sidenav_btn:hover {
    background-color: #f1f1f1;
}

#header .logo_container .logo_thumbnail {
    width: 150px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/img/logo.png');
}

#header #main_nav {
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6f2fe;
}

#header #main_nav .search_bar_container {
    height: 100%;
    position: relative;
    border-radius: 8px;
    display: flex;
    padding-right: 20px;
    background-color: #fff;
    border: 2px solid #e6f2fe;
}

#header #main_nav .search_bar_container .search_ico {
    display: flex;
    height: 42px;
    width: 42px;
    justify-content: center;
    align-items: center;
}

#header #main_nav .search_bar_container .search_ico>svg {
    width: 24px;
    height: 24px;
}

#header #main_nav .search_bar_container .search_ico .search_close_btn {
    display: none;
}

#header #main_nav .search_bar_container .search_bar {
    width: 240px;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
}

#header #main_nav .search_bar_container .search_suggestions {
    max-height: 320px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 48px;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 12px #0404040e;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    z-index: 999;
    overflow-y: scroll;
}

#header #main_nav .search_bar_container .search_suggestions::-webkit-scrollbar {
    width: 2px;
    /* Set the width of the scrollbar */
}

#header #main_nav .search_bar_container .search_suggestions::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    /* Set the color of the scrollbar thumb */
    border-radius: 2.5px;
    /* Optional: Set border radius for a rounded look */
}

#header #main_nav .search_bar_container .search_suggestions::-webkit-scrollbar-track {
    background-color: transparent;
    /* Set the background color of the scrollbar track */
}

#header #main_nav .search_bar_container .search_suggestions::-webkit-scrollbar-thumb:hover {
    background-color: #888;
    /* Set the color of the scrollbar thumb on hover */
}

#header #main_nav .search_bar_container .search_suggestions::-webkit-scrollbar-thumb:active {
    background-color: #888;
    /* Set the color of the scrollbar thumb on active state (click) */
}

#header #main_nav .search_bar_container .search_suggestions::-webkit-scrollbar-thumb:vertical {
    min-height: 20px;
}

#header #main_nav .search_bar_container .search_suggestions .separator {
    width: 100%;
    height: 1px;
    background-color: #f1f1f1;
    margin: 10px 0;
}

#header #main_nav .search_bar_container .search_suggestions .search_title {
    padding: 12px 16px;
    font-family: var(--font-family);
    color: #040404;
    font-size: 14px;
    font-weight: 600;
}

#header #main_nav .search_bar_container .search_suggestions li a {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 12px;
}

#header #main_nav .search_bar_container .search_suggestions li a:hover {
    background-color: #f1f1f1;
}

#header #main_nav .search_bar_container .search_suggestions li a svg {
    min-width: 24px;
    max-width: 24px;
}

#header #main_nav .search_bar_container .search_suggestions li a svg path {
    fill: #868686;
}

#header #main_nav .search_bar_container .search_suggestions li a .flex_pair {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header #main_nav .search_bar_container .search_suggestions li a .flex_pair span {
    font-family: var(--font-family);
    font-size: 14px;
    color: #040404;
    font-weight: 400;
}

#header #main_nav .search_bar_container .search_suggestions .no_results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 12px;
}

#header #main_nav .search_bar_container .search_suggestions .no_results span {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
}

#header #main_nav .search_bar_container .search_suggestions .no_results svg {
    opacity: .3;
    width: 80px;
}

#header #main_nav .nav_container {
    display: flex;
    height: 40px;
    gap: 32px;
    border-radius: 20px;
    padding: 0 32px;
    align-items: center;
    justify-content: center;
}

#header #main_nav .nav_container a {
    font-size: 14px;
    font-family: var(--font-family);
    color: #475E75;
    font-weight: 500;
}

#header #main_nav .nav_container a.active {
    font-weight: 600;
    color: #040404;
}

#header #main_nav .nav_container a svg {
    display: none;
}

#header .right_nav {
    display: flex;
}

#header .right_nav .open_search_btn {
    display: none;
}

#header .right_nav .login_btn {
    background-color: #0160ff;
    color: #fff;
    font-size: 14px;
    height: 48px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: var(--font-family);
    font-weight: 500;
}

#header .right_nav .open_cart_btn {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 16px;
}

#header .right_nav .open_cart_btn:hover {
    background-color: #f1f1f1;
}

#header .right_nav .open_cart_btn svg {
    width: 24px;
    height: 24px;
}

#header .right_nav .open_cart_btn svg path {
    fill: #040404;
}

#header .right_nav .open_cart_btn span {
    color: #fff;
    background-color: #0160ff;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

#header .right_nav .auth_cred {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

#header .right_nav .auth_cred .profile_pic {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    object-fit: cover;
    cursor: pointer;
}

#header .right_nav .auth_cred .auth_nav_dropdown {
    background-color: #fff;
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 2px 3px #0404040e;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    width: 220px;
    overflow: hidden;
    z-index: 999;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 48px;
    padding: 0 12px;
}

#header .right_nav .auth_cred .auth_nav_dropdown li.auth_details {
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
}

#header .right_nav .auth_cred .auth_nav_dropdown li.auth_details .auth_username {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
}

#header .right_nav .auth_cred .auth_nav_dropdown li.auth_details .auth_email {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
}

#header .right_nav .auth_cred .auth_nav_dropdown li.separator {
    background-color: #f1f1f1;
    width: 100%;
    max-height: 1px;
    min-height: 1px;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link.log_out span {
    color: #ff0000;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link:hover {
    background-color: #f1f1f1;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link svg {
    min-width: 24px;
    max-width: 24px;
    height: 24px;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link svg path {
    fill: #868686;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link.log_out svg path {
    fill: #ff0000;
}

#header .right_nav .auth_cred .auth_nav_dropdown li .auth_nav_link span {
    color: #040404;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
}

.section_content {
    padding: 80px 15vw;
    padding-bottom: 32px;
    box-sizing: border-box;
    overflow: hidden;
}

#section_back_btn {
    width: 100%;
    padding: 0 15vw;
    padding-top: 112px;
}

#section_back_btn .back_btn {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #475E75;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
}

#section_back_btn .back_btn svg path {
    fill: #475E75;
}

#section_page_title {
    padding: 0 15vw;
    padding-bottom: 24px;
    width: 100%;
}

#section_page_title .page_title {
    color: #040404;
}

#section_empty {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

#section_empty span {
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 500;
}

#section_empty .empty_icon {
    width: 100px;
    height: 100px;
    fill: #f1f1f1;
}

@media only screen and (max-width: 1260px) {
    #header #main_nav .nav_container {
        position: fixed;
        bottom: 16px;
        background-color: #e6f2fe;
        box-shadow: 0 0 6px #0404040e;
        width: 100%;
        max-width: 400px;
        height: 60px;
        border-radius: 8px;
        left: calc(50% - 200px);
    }

    #header #main_nav .search_bar_container {
        width: 360px;
        max-width: 100%;
        background-color: #f0f5ff;
        border: none;
    }

    #header #main_nav .search_bar_container .search_bar {
        width: 100%;
    }

    .section_content {
        padding-bottom: 92px;
    }
}

@media only screen and (max-width: 720px) {
    #header .right_nav .open_search_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    #header #main_nav {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        z-index: 99;
        background-color: #fff;
        padding: 0 5vw;
    }

    #header #main_nav.hide {
        z-index: -1;
    }

    #header #main_nav.hide .search_bar_container {
        display: none;
    }

    #header #main_nav .search_bar_container {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 0;
        padding: 0;
        margin: 0;
        border: none;
        display: flex;
        justify-content: stretch;
        align-items: center;
        background-color: transparent;
    }

    #header #main_nav .search_bar_container .search_ico>svg {
        display: none;
    }

    #header #main_nav .search_bar_container .search_ico .search_close_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        min-width: 48px;
        height: 48px;
        border: none;
        border-radius: 24px;
        cursor: pointer;
    }

    #header #main_nav .search_bar_container .search_bar {
        background-color: #f0f5ff;
        width: 100%;
        height: 48px;
        border-radius: 8px;
        padding: 10px;
    }

    #header #main_nav .search_bar_container .search_suggestions {
        right: 0;
        top: 68px;
    }
}

@media only screen and (max-width: 600px) {
    #header #main_nav .nav_container {
        width: 100%;
        border-radius: 0;
        max-width: 100%;
        height: 60px;
        left: 0;
        bottom: 0;
        right: 0;
        justify-content: space-between;
        border-top: 1px solid #f1f1f1;
        background-color: #fff;
        box-shadow: none;
    }

    #header #main_nav .nav_container a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        gap: 4px;
    }

    #header #main_nav .nav_container a svg {
        display: block;
        width: 28px;
        height: 28px;
    }

    .section_content {
        padding: 60px 5vw;
        padding-top: 80px;
        box-sizing: border-box;
        overflow: hidden;
    }

    #section_back_btn {
        width: 100%;
        padding: 0 5vw;
        padding-top: 112px;
    }

    #section_page_title {
        padding: 0 5vw;
        padding-bottom: 24px;
        width: 100%;
    }
}

.section_loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #6c6c6c;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}