#login_container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	background-color: #1E1E1E;
}

#login_container .back_btn {
	position: absolute;
	top: 0;
	left: 0;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 99;
	transition: .2s;
}

#login_container .back_btn:hover {
	background-color: #ffffff13;
}

#login_container .back_btn svg {
	width: 40px;
	height: 40px;
}

#login_container .back_btn svg path {
	fill: #D9D9D9;
}

#login_container .form_containers {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	position: relative;
}

#login_container .form-container {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1E1E1E;
	transition: .5s ease-in;
}

#login_container .form-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#login_container .sign-up-container.signin {
	z-index: 2;
}

#login_container .sign-in-container.signin {
	z-index: 1;
	transform: translateX(-50vw);
}

#login_container .sign-up-container.signup {
	z-index: 1;
	transform: translateX(50vw);
}

#login_container .sign-in-container.signup {
	z-index: 2;
}

#login_container .form-container form h1 {
	font-family: 'Syne', sans-serif;
	font-weight: 600;
	color: #D9D9D9;
	text-align: center;
	margin-bottom: 4px;
}

#login_container .form-container form span {
	font-family: 'Syne', sans-serif;
	color: #D9D9D9;
	font-size: 14px;
	text-align: center;
	margin-bottom: 28px;
}

#login_container .form-container form .alert {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 400px;
	background-color: #f92d2dca;
	border-radius: 8px;
	padding: 20px !important;
	margin: 20px 0;
	color: #D9D9D9;
	font-size: 14px;
	font-weight: 500;
}

#login_container .form-container form .success {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 400px;
	background-color: #4BB543;
	border-radius: 8px;
	padding: 20px !important;
	margin: 20px 0;
	color: #D9D9D9;
	font-size: 14px;
	font-weight: 500;
}



#login_container .form-container form .form_fields {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	width: 360px;
}

#login_container .form-container form .form_fields .form_field {
	width: 100%;
}

#login_container .form-container form .form_fields .forgot_password {
	color: #d9d9d9;
	font-family: 'Syne', sans-serif;
	font-weight: 500;
	font-size: 14px;
	margin-top: 12px;
}

#login_container .form-container form .form_fields .submit_btn {
	padding: 10px 32px;
	width: fit-content;
	border-radius: 20px;
	border: none;
	background-color: #F8EE3E;
	text-transform: uppercase;
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
}

#login_container .overlay-container {
	position: absolute;
	width: 50vw;
	overflow: hidden;
	height: 100%;
	z-index: 98;
	transition: 0.5s ease-in;
}

#login_container .overlay-container.signin {
	transform: translateX(50vw);
}

#login_container .overlay-container.signup {
	transform: translateX(0vw);
}

#login_container .overlay-container .overlay {
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	transition: .5s ease-in;
}

#login_container .overlay-container .overlay.signin {
	transform: translateX(-50vw);
}

#login_container .overlay-container .overlay .overlay-panel {
	width: 100%;
	height: 100%;
	background-color: #292820;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: end;
	padding: 100px 5vw;
	font-family: 'Syne', sans-serif;
	color: #D9D9D9;
}

#login_container .overlay-container .overlay .overlay-panel.overlay-right {
	align-items: end;
}

#login_container .overlay-container .overlay .overlay-panel .shift_btn {
	padding: 10px 32px;
	width: fit-content;
	border-radius: 20px;
	background-color: transparent;
	border: 1px solid #403E23;
	color: #F8EE3E;
	text-transform: uppercase;
	font-family: 'Syne', sans-serif;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 20px;
	cursor: pointer;
}

#login_container .overlay-container .overlay .overlay-panel.overlay-right h1 {
	text-align: right;
}

#login_container .overlay-container .overlay .overlay-panel h1 {
	display: block;
	max-width: 400px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 900px) {
	#login_container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#login_container .back_btn {
		margin: 10px;
		width: 40px;
		height: 40px;
	}
	
	#login_container .back_btn svg {
		width: 24px;
		height: 24px;
	}

	#login_container .form_containers {
		display: block;
		width: 100vw;
		height: 70vh;
		overflow-y: hidden;
		transition: .5s ease-in;
	}

	#login_container .form_containers.signup {
		transform: translateY(30vh);
	}

	#login_container .form-container {
		transform: none !important;
		width: 100%;
		height: 70vh;
		position: absolute;
		top: 0;
		overflow-y: auto;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}


	#login_container .sign-in-container.signin {
		transform: translateY(70vh) !important;
		z-index: 1;
	}

	#login_container .sign-in-container.signup {
		z-index: 0;
	}

	#login_container .sign-up-container.signin {
		z-index: 0;
	}

	#login_container .sign-up-container.signup {
		transform: translateY(-70vh) !important;
		width: 100% !important;
		z-index: 1;
	}

	#login_container .form-container form {
		align-items: center;
		justify-content: center;
		min-height: 360px;
		padding: 0 5vw;
		width: 100%;
	}

	#login_container .form-container form .form_fields {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: 12px;
		width: 100%;
		max-width: 400px;
		height: fit-content;
	}

	#login_container .overlay-container {
		width: 100vw;
		height: 30vh;
		transform: none !important;
		position: static;
		overflow: hidden;
	}

	#login_container .overlay-container.signup {
		transform: translateY(-70vh) !important;
	}

	#login_container .overlay-container.signin {
		transform: translateY(0vh) !important;
	}

	#login_container .overlay-container .overlay {
		width: 100vw;
		height: 60vh;
		flex-direction: column-reverse;
		top: 0;
		right: 0;
		left: 0;
		transform: none !important;
	}

	#login_container .overlay-container .overlay.signup {
		transform: translateY(-30vh) !important;
	}

	#login_container .overlay-container .overlay.signin {
		transform: translateY(0vh) !important;
	}

	#login_container .overlay-container .overlay .overlay-panel {
		width: 100vw;
		height: 30vh !important;
		justify-content: center;
		align-items: center !important;
		padding: 0;
	}

	#login_container .overlay-container .overlay .overlay-panel h1 {
		font-size: 20px;
		max-width: 200px;
		text-align: center !important;
	}

	#login_container .overlay-container .overlay .overlay-panel p {
		font-size: 12px;
		text-align: center;
	}

	#login_container .overlay-container .overlay .overlay-panel .shift_btn {
		padding: 8px 28px;
		font-size: 12px;
	}
}