.news_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    position: relative;
}

.news_container .news_card {
    /* background-color: #252526; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* padding: 14px; */
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
}

.news_container .news_card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: 8px;
}

.news_container .news_card .news_card_title {
    color: var(--text-primary-color);
    font-size: 16px;
    line-height: 24px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 600;
}

.news_container .news_card .news_card_desc {
    color: var(--text-secondary-color);
    font-size: 12px;
    height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: 400;
}

.news_container .news_card .news_card_timestamp {
    color: var(--text-secondary-color);
    font-size: 10px;
    font-weight: 500;
}

.news_container .load_more_btn {
    background-color: transparent;
    color: var(--btn-outline-color);
    border-radius: 4px;
    width: 120px;
    padding: 12px 0;
    border: 1px solid var(--btn-border-color);
    position: absolute;
    bottom: -100px;
    left: calc(50% - 60px);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    cursor: pointer;
}