.section_orders_page {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section_orders_page .order_container .desktop_order_product {
    display: grid;
    grid-template-columns: 50% 120px 1fr;
    width: 100%;
    gap: 24px;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #e5e5e5;
}

.section_orders_page .order_container .desktop_order_product .order_product_details {
    display: flex;
    gap: 32px;
}

.section_orders_page .order_container .desktop_order_product .order_product_details .order_product_thumb {
    min-width: 100px;
    height: 100px;
    object-fit: contain;
}

.section_orders_page .order_container .desktop_order_product .order_product_details .order_product_name {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-family);
    color: #040404;
}

.section_orders_page .order_container .desktop_order_product .order_price_details .order_price {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-family);
    color: #040404;
    text-wrap: nowrap;
}

.section_orders_page .order_container .desktop_order_product .order_status_details {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.section_orders_page .order_container .desktop_order_product .order_status_details .order_status .order_status_theme {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: block;
}

.section_orders_page .order_container .desktop_order_product .order_status_details .order_status .order_status_theme.success {
    background-color: #388e3c;
}

.section_orders_page .order_container .desktop_order_product .order_status_details .order_status .order_status_theme.danger {
    background-color: tomato;
}

.section_orders_page .order_container .desktop_order_product .order_status_details .order_status {
    color: #040404;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    gap: 6px;
    font-weight: 600;
    font-family: var(--font-family);
}

.section_orders_page .order_container .desktop_order_product .order_status_details .order_status_caption {
    color: #262626;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    gap: 6px;
    font-weight: 400;
    font-family: var(--font-family);
}

.section_orders_page .order_container .desktop_order_product .order_status_details .order_rating_details {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: var(--font-family);
    color: #0070F2;
    font-size: 14px;
    font-weight: 500;
    text-wrap: nowrap;
}

.section_orders_page .order_container .desktop_order_product .order_status_details .order_rating_details svg {
    width: 16px;
    height: 16px;
}

.section_orders_page .order_container .desktop_order_product .order_status_details .order_rating_details svg path {
    fill: #0070F2;
}

.section_orders_page .order_container .mobile_order_product {
    display: none;
}

@media only screen and (max-width: 1080px) {
    .section_orders_page .order_container .desktop_order_product {
        display: none;
    }

    .section_orders_page .order_container .mobile_order_product {
        display: grid;
        grid-template-columns: 50% 120px 1fr;
        width: 100%;
        gap: 24px;
        background-color: #fff;
        border-radius: 8px;
        padding: 12px;
        border: 1px solid #e5e5e5;
    }

    .section_orders_page .order_container .mobile_order_product {
        display: grid;
        grid-template-columns: 50px 1fr 40px;
        width: 100%;
        gap: 40px;
        background-color: #fff;
        border-radius: 8px;
        padding: 12px;
        border: 1px solid #e5e5e5;
    }

    .section_orders_page .order_container .mobile_order_product .order_product_thumb {
        min-width: 80px;
        height: 80px;
        object-fit: contain;
    }

    .section_orders_page .order_container .mobile_order_product .order_details {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .section_orders_page .order_container .mobile_order_product .order_details .order_status {
        font-size: 14px;
        font-weight: 600;
        text-wrap: nowrap;
        color: #040404;
        display: flex;
        align-items: center;
        gap: 4px;
        font-family: var(--font-family);
    }

    .section_orders_page .order_container .mobile_order_product .order_details .order_status .order_status_theme {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        display: block;
    }

    .section_orders_page .order_container .mobile_order_product .order_details .order_status .order_status_theme.success {
        background-color: #388e3c;
    }

    .section_orders_page .order_container .mobile_order_product .order_details .order_status .order_status_theme.danger {
        background-color: tomato;
    }

    .section_orders_page .order_container .mobile_order_product .order_details .order_product_name {
        font-size: 14px;
        font-weight: 400;
        text-wrap: wrap;
        color: #040404;
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        gap: 4px;
        font-family: var(--font-family);
    }

    .section_orders_page .order_container .mobile_order_product .order_details .order_rating_details svg {
        width: 24px;
        height: 24px;
        margin-right: 2px;
    }

    .section_orders_page .order_container .mobile_order_product .order_details .order_rating_details svg path {
        fill: #d4d4d4;
    }

    .section_orders_page .order_container .mobile_order_product .order_details .order_rating_details svg.success path {
        fill: #388e3c;
    }

    .section_orders_page .order_container .mobile_order_product .order_details .order_rating_details p {
        color: #475E75;
        font-size: 14px;
        font-weight: 400;
        padding-top: 6px;
    }
    
    .section_orders_page .order_container .mobile_order_product .order_nav_arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}