@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.product_details_container {
    display: flex;
    justify-content: stretch;
    align-items: start;
    flex-wrap: nowrap;
    gap: 50px;
}

.product_details_container .img_slider_container {
    overflow: hidden;
    border-radius: 8px;
    /* background-color: #252526; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% - 500px);
    min-width: 380px;
}

.product_details_container .img_slider_container .add_to_wishlist_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 32px;
    margin: 12px;
    transition: .2s ease-in;
    z-index: 100;
    background-color: #25252527;
    border: none;
}

.product_details_container .img_slider_container .add_to_wishlist_btn:hover {
    background-color: #333333;
}

.product_details_container .img_slider_container .add_to_wishlist_btn svg {
    width: 40px;
    height: 40px;
}

.product_details_container .img_slider_container .add_to_wishlist_btn svg path {
    fill: #fff;
}

.product_details_container .img_slider_container .add_to_wishlist_btn.active svg path {
    fill: #FF0056;
}

.product_details_container .product_thumbnail {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: contain;
    background: #ffff;
    border: 1px solid #0000000f;
    border-radius: 12px;
}

.product_details_container .product_details {
    width: 450px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.product_details_container .product_details .product_name {
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 600;
    color: var(--text-primary-color);
    padding-bottom: 30px;
}

.product_details_container .product_details .product_desc {
    color: var(--text-secondary-color);
    font-size: 16px;
    line-height: 24px;
}

.product_details_container .product_details .flex_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.product_details_container .product_details .flex_box .product_price {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-primary-color);
    font-family: 'Inter', sans-serif;
}

.product_details_container .product_details .flex_box .q_selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.product_details_container .product_details .flex_box .q_selector_container .q_tag {
    color: var(--text-primary-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    padding-bottom: 12px;
}

.product_details_container .product_details .flex_box .q_selector .q_btn {
    color: var(--btn-color);
    font-family: var(--font-family);
    background-color: var(--btn-background);
    border: none;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 4px;
    font-size: 24px;
    font-weight: 500;
}

.product_details_container .product_details .flex_box .q_selector .q_input {
    color: var(--text-primary-color);
    font-size: 16px;
    min-width: 30px;
    display: block;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.product_details_container .product_details .action_btn_container {
    display: flex;
    justify-content: stretch;
    gap: 10px;
    padding-top: 40px;
}

.product_details_container .product_details .action_btn_container .buy_now_btn {
    flex: 1;
    background-color: var(--btn-highlight-background);
    color: var(--btn-color);
    border-radius: 4px;
    border: none;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-wrap: nowrap;
    gap: 20px;
    text-transform: uppercase;
    font-family: Syne;
}

.product_details_container .product_details .action_btn_container .add_to_cart_btn {
    flex: 1;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--btn-border-color);
    color: var(--btn-outline-color);
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-wrap: nowrap;
    gap: 20px;
    text-transform: uppercase;
    font-family: Syne;
}

.product_details_container .product_details .action_btn_container .buy_now_btn svg path {
    fill: var(--btn-color);
}

.product_details_container .product_details .action_btn_container .buy_now_btn svg,
.product_details_container .product_details .action_btn_container .add_to_cart_btn svg {
    width: 32px;
}

.product_details_container .product_details .action_btn_container .add_to_cart_btn svg path {
    fill: var(--btn-outline-color);
}

.section_related_products {
    padding-top: 50px;
}

.section_related_products .rp_title {
    color: var(--text-primary-color);
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-family);
}

.section_related_products .rp_products_container {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    padding-top: 30px;
    gap: 16px;
}

.section_related_products .rp_products_container::-webkit-scrollbar {
    display: none;
}

/* ProductList */

.section_related_products .rp_products_container .product_card {
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    min-width: 200px;
    max-width: 240px;
    width: 100%;
}

.section_related_products .rp_products_container .product_card .product_thumbnail {
    width: 100%;
    aspect-ratio: 4/3;
    background-color: #fff;
    object-fit: contain;
    border-radius: 12px;
    border: 1px solid #0000000f;
}

.section_related_products .rp_products_container .product_card .product_details {
    /* padding: 20px; */
    padding-top: 10px;
}

.section_related_products .rp_products_container .product_card .product_brand_name {
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 500;
    font-family: var(--font-family);
    padding: 5px 0;
}

.section_related_products .rp_products_container .product_card .product_title {
    color: var(--text-primary-color);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family);
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.section_related_products .rp_products_container .product_card .product_rating_flexbox {
    display: flex;
    justify-content: space-between;
    height: 32px;
}

.section_related_products .rp_products_container .product_card .product_rating_container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.section_related_products .rp_products_container .product_card .product_rating_container .star_ratings {
    display: flex;
}

.section_related_products .rp_products_container .product_card .product_rating_container svg {
    width: 16px;
}

.section_related_products .rp_products_container .product_card .product_rating_container svg path {
    fill: #388e3c;
}

.section_related_products .rp_products_container .product_card .product_rating_container .total_ratings {
    font-size: 14px;
    color: #6c6c6c;
}

.section_related_products .rp_products_container .product_card .product_rating_flexbox .best_seller_tag img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.section_related_products .rp_products_container .product_card .product_price {
    color: var(--text-primary-color);
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-family);
    padding: 12px 0;
    display: flex;
    gap: 4px;
}

.section_related_products .rp_products_container .product_card .product_price .off_percent {
    color: #388e3c;
}

.section_related_products .rp_products_container .product_card .product_price .product_org_price {
    color: #6c6c6c;
    text-decoration: line-through;
}

.section_related_products .rp_products_container .product_card .product_nav {
    display: flex;
    gap: 10px;
    padding: 0;
    justify-content: stretch;
}

@media only screen and (max-width: 1100px) {
    .product_details_container {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .product_details_container .img_slider_container {
        width: 100%;
        max-width: 400px;
    }

    .product_details_container .product_details {
        width: 100%;
        min-width: none;
    }

    .product_details_container .product_details .product_name {
        font-size: 32px;
    }

    .product_details_container .product_details .product_desc {
        font-size: 14px;
    }

    .product_details_container .product_details .flex_box .product_price {
        font-size: 24px;
    }

    .product_details_container .product_details .flex_box .q_selector_container .q_btn {
        font-size: 20px;
    }

    .product_details_container .product_details .flex_box .q_selector_container .q_input {
        font-size: 16px;
        width: 30px;
        padding: 10px 0;
    }
    
    .product_details_container .product_details .action_btn_container {
        width: fit-content;
    }
}

@media only screen and (max-width: 980px) {
    .product_details_container {
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .section_related_products .rp_products_container .product_card {
        width: 100%;
        max-width: 200px;
        min-width: 180px;
    }

    .section_related_products .rp_products_container .product_card .product_thumbnail {
        width: 100%;
        aspect-ratio: 4/3;
        background-color: #fff;
        object-fit: contain;
        border-radius: 12px;
        border: 1px solid #0000000f;
    }

    .section_related_products .rp_products_container .product_card .product_details {
        /* padding: 20px; */
        padding-top: 10px;
    }

    .section_related_products .rp_products_container .product_card .product_brand_name {
        color: #8c8c8c;
        font-size: 12px;
        font-weight: 500;
        font-family: var(--font-family);
        padding: 5px 0;
    }

    .section_related_products .rp_products_container .product_card .product_title {
        color: var(--text-primary-color);
        font-size: 14px;
        font-weight: 500;
        font-family: var(--font-family);
        height: 34px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .section_related_products .rp_products_container .product_card {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .section_related_products .rp_products_container .product_card .product_rating_flexbox {
        display: flex;
        justify-content: space-between;
        height: 32px;
    }

    .section_related_products .rp_products_container .product_card .product_rating_container {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .section_related_products .rp_products_container .product_card .product_rating_container .star_ratings {
        display: flex;
    }

    .section_related_products .rp_products_container .product_card .product_rating_container svg {
        width: 14px;
    }

    .section_related_products .rp_products_container .product_card .product_rating_container svg path {
        fill: #388e3c;
    }

    .section_related_products .rp_products_container .product_card .product_rating_container .total_ratings {
        font-size: 12px;
        color: #6c6c6c;
    }

    .section_related_products .rp_products_container .product_card .product_rating_flexbox .best_seller_tag img {
        width: auto;
        height: 100%;
        object-fit: contain;
    }

    .section_related_products .rp_products_container .product_card .product_price {
        color: var(--text-primary-color);
        font-size: 16px;
        font-weight: 600;
        font-family: var(--font-family);
        padding: 12px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
        width: 150px;
    }

    .section_related_products .rp_products_container .product_card .product_price .off_percent {
        color: #388e3c;
        font-size: 12px;
    }

    .section_related_products .rp_products_container .product_card .product_price .product_org_price {
        color: #6c6c6c;
        text-decoration: line-through;
        font-size: 12px;
    }
}

@media only screen and (max-width: 540px) {
    .product_details_container {
        width: 100%;
        max-width: none;
        min-width: none;
    }

    .product_details_container .img_slider_container {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .product_details_container .product_details {
        flex-direction: column;
        align-items: stretch;
        justify-content: start;
        width: 100%;
        min-width: 100%;
    }

    .product_details_container .product_details .product_name {
        font-size: 28px;
    }

    .product_details_container .product_details .product_desc {
        font-size: 14px;
    }

    .product_details_container .product_details .flex_box .product_price {
        font-size: 24px;
    }

    .product_details_container .product_details .flex_box .q_selector_container .q_btn {
        font-size: 20px;
    }

    .product_details_container .product_details .flex_box .q_selector_container .q_input {
        font-size: 16px;
        width: 30px;
        padding: 10px 0;
    }

    .product_details_container .product_details .action_btn_container {
        width: 100%;
        justify-content: stretch;
    }
}

@media only screen and (max-width: 440px) {
    .product_details_container .product_details .action_btn_container {
        width: 100%;
        flex-direction: column-reverse;
    }

    .product_details_container .product_details .action_btn_container .buy_now_btn {
        width: 100%;
    }

    .product_details_container .product_details .action_btn_container .add_to_cart_btn {
        width: 100%;
    }
}