.tag_flex_box {
    width: 100%;
    padding: 42px 0;
    max-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.tag_flex_box .back_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 600;
    color: #475E75;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tag_flex_box .back_btn svg {
    width: 24px;
    height: 24px;
}

.tag_flex_box .back_btn svg path {
    fill: #475E75;
}

.tag_flex_box .filter_wrap {
    position: relative;
}

.tag_flex_box .filter_wrap .product_filter_btn {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0070F2;
    font-family: var(--font-family);
}

.tag_flex_box .filter_wrap .product_filter_btn svg {
    width: 32px;
    height: 32px;
}

.tag_flex_box .filter_wrap .product_filter_btn svg path {
    fill: #0070F2;
}

.tag_flex_box .filter_wrap .filter_dropdown_container {
    position: absolute;
    background-color: var(--tab-background-color);
    z-index: 99;
    border-radius: 8px;
    top: 32px;
    right: 0;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 6px #0000000f;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_dropdown_head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
    padding: 4px 16px;
    padding-bottom: 6px;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_dropdown_head button {
    font-size: 16px;
    font-weight: 600;
    color: #0070F2;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_dropdown_head .filter_dropdown_title {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_dropdown_head .filter_dropdown_title p {
    font-size: 12px;
    font-weight: 500;
    color: #475E75;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item {
    width: 280px;
    max-height: 420px;
    padding: 16px 0;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_title {
    font-family: 'Inter', sans-serif;
    color: var(--text-primary-color);
    font-weight: 600;
    font-size: 16px;
    padding: 0 16px;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_brand_search_container {
    width: 100%;
    padding: 0 16px;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_brand_search_container .search_bar {
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 8px;
    background-color: #f0f5ff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    padding: 0 12px;
    margin-top: 10px;
    outline: none;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list {
    color: var(--text-primary-color);
    padding: 10px 0;
    overflow-y: scroll;
    min-height: 100px;
    max-height: 200px;
}


.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list::-webkit-scrollbar {
    width: 2px;
    /* Set the width of the scrollbar */
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    /* Set the color of the scrollbar thumb */
    border-radius: 2.5px;
    /* Optional: Set border radius for a rounded look */
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list::-webkit-scrollbar-track {
    background-color: transparent;
    /* Set the background color of the scrollbar track */
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list::-webkit-scrollbar-thumb:hover {
    background-color: #888;
    /* Set the color of the scrollbar thumb on hover */
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list::-webkit-scrollbar-thumb:active {
    background-color: #888;
    /* Set the color of the scrollbar thumb on active state (click) */
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list::-webkit-scrollbar-thumb:vertical {
    min-height: 20px;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list li label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-family);
    cursor: pointer;
    padding: 12px 16px;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list li label:hover {
    background-color: #f0f5ff;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list li label input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_dropdown_bottom {
    width: 100%;
    border-top: 1px solid #f1f1f1;
    padding: 16px;
    padding-top: 6px;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_dropdown_bottom .filter_apply_btn {
    padding: 14px 24px;
    border: none;
    background-color: #0070F2;
    color: var(--btn-color);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.search_result_tag {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-primary-color);
    font-family: var(--font-family);
}

.search_result_tag span {
    font-size: 24px;
    font-weight: 600;
}

/* ProductList */
#section_product_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 32px;
}

#section_product_list .product_card {
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#section_product_list .product_card .add_to_wishlist_btn {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    background-color: #2525263e;
    cursor: pointer;
}

#section_product_list .product_card .add_to_wishlist_btn svg {
    width: 28px;
    height: 28px;
}

#section_product_list .product_card .add_to_wishlist_btn svg path {
    fill: #fff;
}

#section_product_list .product_card .add_to_wishlist_btn svg.active path {
    fill: #ff0000;
}

#section_product_list .product_card .product_thumbnail {
    width: 100%;
    aspect-ratio: 4/3;
    background-color: #fff;
    object-fit: contain;
    border-radius: 12px;
    border: 1px solid #0000000f;
}

#section_product_list .product_card .product_details {
    /* padding: 20px; */
    padding-top: 10px;
}

#section_product_list .product_card .product_brand_name {
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 500;
    font-family: var(--font-family);
    padding: 5px 0;
}

#section_product_list .product_card .product_title {
    color: var(--text-primary-color);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family);
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#section_product_list .product_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section_product_list .product_card .product_rating_flexbox {
    display: flex;
    justify-content: space-between;
    height: 32px;
}

#section_product_list .product_card .product_rating_container {
    display: flex;
    align-items: center;
    gap: 4px;
}

#section_product_list .product_card .product_rating_container .star_ratings {
    display: flex;
}

#section_product_list .product_card .product_rating_container svg {
    width: 16px;
}

#section_product_list .product_card .product_rating_container svg path {
    fill: #388e3c;
}

#section_product_list .product_card .product_rating_container .total_ratings {
    font-size: 14px;
    color: #6c6c6c;
}

#section_product_list .product_card .product_rating_flexbox .best_seller_tag img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

#section_product_list .product_card .product_price {
    color: var(--text-primary-color);
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-family);
    padding: 12px 0;
    display: flex;
    gap: 4px;
}

#section_product_list .product_card .product_price .off_percent {
    color: #388e3c;
}

#section_product_list .product_card .product_price .product_org_price {
    color: #6c6c6c;
    text-decoration: line-through;
}

/* #section_product_list .product_card .product_desc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--text-secondary-color);
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 52px;
    padding: 0;
    margin-top: 10px;
} */

#section_product_list .product_card .product_nav {
    display: flex;
    gap: 10px;
    padding: 0;
    justify-content: stretch;
}

/* #section_product_list .product_card .product_nav .product_nav_btn {
    padding: 10px;
    color: #000;
    background-color: #fff;
    font-weight: 500;
    border-radius: 4px;
    display: block;
    flex: 1;
    text-align: center;
    font-family: 'Inter', sans-serif;
} */

/* #section_product_list .product_card .product_nav .product_nav_btn_outline {
    padding: 8px;
    color: #d1d1d1;
    border: 1px solid #5c5c5c;
    background-color: transparent;
    border-radius: 4px;
    flex: 1;
    display: block;
    text-align: center;
    font-family: 'Inter', sans-serif;
} */

@media only screen and (max-width: 500px) {
    #section_product_list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 12px;
    }
    
    #section_product_list .product_card {
        width: 100%;
    }

    #section_product_list .product_card .product_thumbnail {
        width: 100%;
        aspect-ratio: 4/3;
        background-color: #fff;
        object-fit: contain;
        border-radius: 12px;
        border: 1px solid #0000000f;
    }

    #section_product_list .product_card .product_details {
        /* padding: 20px; */
        padding-top: 10px;
    }

    #section_product_list .product_card .product_brand_name {
        color: #8c8c8c;
        font-size: 12px;
        font-weight: 500;
        font-family: var(--font-family);
        padding: 5px 0;
    }

    #section_product_list .product_card .product_title {
        color: var(--text-primary-color);
        font-size: 14px;
        font-weight: 500;
        font-family: var(--font-family);
        height: 34px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    #section_product_list .product_card {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    #section_product_list .product_card .product_rating_flexbox {
        display: flex;
        justify-content: space-between;
        height: 32px;
    }

    #section_product_list .product_card .product_rating_container {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    #section_product_list .product_card .product_rating_container .star_ratings {
        display: flex;
    }

    #section_product_list .product_card .product_rating_container svg {
        width: 14px;
    }

    #section_product_list .product_card .product_rating_container svg path {
        fill: #388e3c;
    }

    #section_product_list .product_card .product_rating_container .total_ratings {
        font-size: 12px;
        color: #6c6c6c;
    }

    #section_product_list .product_card .product_rating_flexbox .best_seller_tag img {
        width: auto;
        height: 100%;
        object-fit: contain;
    }

    #section_product_list .product_card .product_price {
        color: var(--text-primary-color);
        font-size: 16px;
        font-weight: 600;
        font-family: var(--font-family);
        padding: 12px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
        width: 150px;
    }

    #section_product_list .product_card .product_price .off_percent {
        color: #388e3c;
        font-size: 12px;
    }

    #section_product_list .product_card .product_price .product_org_price {
        color: #6c6c6c;
        text-decoration: line-through;
        font-size: 12px;
    }
}