/* #filter_nav {
    background-color: #1E1E1E;
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    color: #fff;
    z-index: 999;
    display: none;
}

#filter_nav .filter_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter_nav .filter_top .filter_title {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

#filter_nav .filter_top .clear_filter_btn {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #d4d4d4;
    cursor: pointer;
}

#filter_nav .filter_wrapper {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: stretch;
    align-items: start;
    overflow-y: auto;
    height: 100%;
}

#filter_nav .filter_wrapper::-webkit-scrollbar {
    display: none;
}

#filter_nav .filter_wrapper .filter_features {
    width: 100%;
}

#filter_nav .filter_wrapper .filter_features ul li {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter_nav .filter_wrapper .filter_features ul li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#filter_nav .filter_wrapper .filter_features details {
    width: 100%;
    padding: 0;
    margin: 0;
}

#filter_nav .filter_wrapper .filter_features details p {
    width: 100%;
    max-height: 160px;
    overflow-y: auto;
}

#filter_nav .filter_wrapper .filter_features details p::-webkit-scrollbar {
    display: none;
}

#filter_nav .filter_wrapper .filter_features details p {
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: #2c2c2c; 
    border-radius: 4px;
    padding: 0 10px;
}

#filter_nav .filter_wrapper .filter_features details p ul li {
    height: 40px;
}

#filter_nav .filter_wrapper .filter_features details p ul li input {
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.filter_bottom {
    padding-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
}

.filter_bottom .products_count {
    font-weight: 500;
    font-size: 20px;
}

.filter_bottom .products_count span {
    font-weight: 300;
    font-size: 12px;
    color: #bbb;
}

.filter_bottom .filter_btn {
    background-color: #fff;
    border-radius: 4px;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0;
}

summary {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
} */

.tag_flex_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;
}

.product_filter_btn {
    font-weight: 500;
    display: block;
    border: 1px solid #787878;
    border-radius: 4px;
    padding: 12px 20px;
    width: fit-content;
    color: #D9D9D9;
    font-family: 'Syne', sans-serif;
}

.product_filter_btn svg {
    margin-left: 12px;
}

.tag_flex_box .filter_wrap {
    position: relative;
}

.tag_flex_box .filter_wrap .filter_dropdown_container {
    position: absolute;
    background-color: #252525;
    z-index: 99;
    padding: 16px;
    border-radius: 8px;
    top: 52px;
    box-shadow: 4px 4px 6px #0000001e;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item {
    width: 240px;
    max-height: 280px;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_title {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    color: #868686;
    padding: 10px 0;
    overflow-y: auto;
    height: 200px;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_item .filter_item_list li {
    display: flex;
    gap: 8px;
    padding: 8px;
    padding-right: 0;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_dropdown_bottom {
    width: 100%;
}

.tag_flex_box .filter_wrap .filter_dropdown_container .filter_dropdown_bottom .filter_apply_btn {
    padding: 8px 18px;
    border: none;
    background-color: #fff;
    color: #1e1e1e;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    /* width: 100%; */
}

.search_result_tag {
    font-size: 16px;
    font-weight: 500;
    color: #D9D9D9;
    font-family: 'Syne', sans-serif;
}

.search_result_tag span {
    font-size: 24px;
    font-weight: 600;
}

/* ProductList */
#section_product_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

#section_product_list .product_card {
    background-color: #252526;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#section_product_list .product_card .add_to_wishlist_btn {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    background-color: #252526;
    cursor: pointer;
}

#section_product_list .product_card .add_to_wishlist_btn svg {
    width: 28px;
    height: 28px;
}

#section_product_list .product_card .add_to_wishlist_btn svg path {
    fill: #D9D9D9;
}

#section_product_list .product_card .add_to_wishlist_btn svg.active path {
    fill: #ff0000;
}

#section_product_list .product_card .product_thumbnail {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    background-color: #2D2D27;
}

#section_product_list .product_card .product_details {
    padding: 20px;
    padding-top: 10px;
}

#section_product_list .product_card .product_title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Syne', sans-serif;
}

#section_product_list .product_card .product_desc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #898989;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 52px;
    padding: 0;
    margin-top: 10px;
}

#section_product_list .product_card .product_nav {
    display: flex;
    gap: 10px;
    padding: 0;
    justify-content: stretch;
}

#section_product_list .product_card .product_nav .product_nav_btn {
    padding: 10px;
    color: #000;
    background-color: #fff;
    font-weight: 500;
    border-radius: 4px;
    display: block;
    flex: 1;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#section_product_list .product_card .product_nav .product_nav_btn_outline {
    padding: 8px;
    color: #d1d1d1;
    border: 1px solid #5c5c5c;
    background-color: transparent;
    border-radius: 4px;
    flex: 1;
    display: block;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.shop_page .center_text {
    height: calc(100vh - 300px);
}

@media only screen and (max-width: 500px) {
    #section_product_list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 8px;
    }

    #section_product_list .product_card {
        background-color: transparent;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
    }
    
    #section_product_list .product_card .add_to_wishlist_btn {
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        margin: 10px;
        border-radius: 50%;
        border: none;
        background-color: #252526;
        cursor: pointer;
    }
    
    #section_product_list .product_card .product_thumbnail {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        background-color: #2D2D27;
        border-radius: 8px;
    }
    
    #section_product_list .product_card .product_details {
        padding: 8px 2px;
    }
    
    #section_product_list .product_card .product_title {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Syne', sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 26px;
    }
    
    #section_product_list .product_card .product_desc {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: #898989;
        font-size: 10px;
        line-height: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        height: 24px;
        padding: 0;
        margin-top: 10px;
    }
}