.section_shopping_cart {
    padding-top: 0;
}

/* Shopping Cart */
.section_cart_container {
    display: flex;
    gap: 30px;
}

.section_cart_container .cart_list .empty_definition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0;
    height: 100%;
}

.section_cart_container .cart_list .empty_definition span {
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: var(--text-primary-color);
    font-weight: 500;
}

.section_cart_container .cart_list .empty_definition .empty_icon {
    width: 100px;
    height: 100px;
    fill: #f1f1f1;
}

.cart_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 500px;
}

.shopping_cart_item {
    padding: 16px;
    background-color: #f1f1f152;
    border: 1px solid #d4d4d4;
    border-radius: 16px;
    display: flex;
    gap: 16px;
    max-width: 500px;
    width: 100%;
}

.shopping_cart_item .sc_item_thumb {
    min-width: 120px;
    width: 120px;
    height: 120px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #0000000f;
}

.shopping_cart_item .sc_item_details {
    width: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.shopping_cart_item .sc_item_details .sc_item_title {
    font-size: 16px;
    color: var(--text-primary-color);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 40px;
    width: 100%;
}

.shopping_cart_item .sc_item_details .sc_item_desc {
    font-size: 12px;
    color: var(--text-secondary-color);
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 32px;
}

.shopping_cart_item .sc_item_details .sc_item_price {
    font-size: 14px;
    color: var(--text-primary-color);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 10px 0;
}

.shopping_cart_item .sc_item_details .sc_item_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping_cart_item .sc_item_details .sc_item_bottom .q_selector_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping_cart_item .sc_item_details .sc_item_bottom .q_selector_container .q_btn {
    font-size: 24px;
    color: var(--btn-color);
    font-weight: 400;
    font-family: 'Syne', sans-serif;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: #475E75;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping_cart_item .sc_item_details .sc_item_bottom .q_selector_container .q_input {
    font-size: 14px;
    color: var(--text-primary-color);
    font-weight: 500;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.shopping_cart_item .sc_item_details .sc_item_bottom .sc_item_rm_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.shopping_cart_item .sc_item_details .sc_item_bottom .sc_item_rm_btn svg path {
    fill: #475E75;
}

.shopping_cart_item .sc_item_details .sc_item_bottom .quantity_selection {
    display: flex;
    gap: 24px;
}

.shopping_cart_item .sc_item_details .sc_item_bottom .quantity_selection .save_quantity {
    background-color: #0070F2;
    color: var(--btn-color);
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 0 24px;
    height: 40px;
    border-radius: 8px;
}

.order_details_container {
    width: calc(100% - 500px);
    min-width: 500px;
}

.order_details_container .order_details_card {
    background-color: #f1f1f152;
    border: 1px solid #d4d4d4;
    border-radius: 16px;
    padding: 32px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order_details_container .order_details_title {
    color: var(--text-primary-color);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;
}

.order_details_container .order_sum {
    color: var(--text-primary-color);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.order_details_container .convenience_fee_label {
    color: var(--text-primary-color);
    font-size: 14px;
    font-weight: 400;
}

.order_details_container .convenience_fee li {
    padding: 6px 0;
    padding-left: 12px;
    color: var(--text-secondary-color);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.order_details_container .order_total {
    color: var(--text-primary-color);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.order_details_container .place_order_btn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.order_details_container .place_order_btn_container .amount {
    font-size: 18px;
    color: var(--text-primary-color);
    font-weight: 600;
}

.order_details_container .place_order_btn_container .btn_place_order {
    font-size: 16px;
    color: var(--btn-color);
    font-weight: 500;
    background-color: #0070F2;
    font-family: 'Inter', sans-serif;
    padding: 0 24px;
    border: none;
    border-radius: 16px;
    height: 60px;
    display: flex;
    gap: 18px;
    text-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.order_details_container .place_order_btn_container .btn_place_order.disabled_link {
    background-color: var(--btn-disabled-background);
}

.order_details_container .place_order_btn_container .btn_place_order svg {
    width: 28px;
    height: 28px;
}

.order_details_container .place_order_btn_container .btn_place_order svg path {
    fill: var(--btn-color);
}

/* Delivery Address Form */
.delivery_address_form_container {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.delivery_address_form_container .delivery_address_form {
    background-color: var(--tab-background-color);
    color: var(--text-primary-color);
    padding: 24px;
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    overflow-y: scroll;
}

.delivery_address_form_container .back_btn {
    min-width: 36px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px 0 20px 0;
}

.delivery_address_form_container .back_btn svg {
    width: 36px;
    height: 36px;
}

.delivery_address_form_container .back_btn svg path {
    fill: var(--text-primary-color);
}

.delivery_address_form_container .overlay {
    background-color: #0000002b;
    width: calc(100% - 400px);
}

.delivery_address_form h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-primary-color);
}

.delivery_address_form h2 p {
    font-size: 14px;
    color: var(--text-secondary-color);
    font-weight: 400;
    padding-top: 6px;
}

.delivery_address_form h2 svg {
    width: 40px;
    height: 40px;
}

.delivery_address_form h2 svg path {
    fill: var(--text-secondary-color);
}

.delivery_address_form :where(.contact_info, .address_info) {
    display: flex;
    flex-direction: column;
}

.delivery_address_form .address_info {
    margin-top: 32px;
}

/* 
.delivery_address_form .address_type {
    margin-top: 40px;
}

.delivery_address_form .address_type .address_field_title {
    margin-bottom: 20px;
}

.delivery_address_form .address_type .radio_container {
    display: block;
    padding-bottom: 10px;
    cursor: pointer;
}

.delivery_address_form .address_type .radio_container label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    color: var(--text-primary-color);
    font-weight: 400;
}

.delivery_address_form .address_type .radio_container input {
    cursor: pointer;
}

.delivery_address_form .address_type .checkbox_container {
    display: block;
    padding-top: 14px;
}

.delivery_address_form .address_type .checkbox_container label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
}

.delivery_address_form .address_type .checkbox_container input {
    cursor: pointer;
} */

.delivery_address_form .address_field_title {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
}

.delivery_address_form label {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 18px;
    color: var(--text-primary-color);
}

.delivery_address_form label .req {
    color: red;
}

.delivery_address_form input {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    height: 60px;
    outline: none;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-family);
}

.delivery_address_form input:focus {
    border: 1px solid #0071f284;
    box-shadow: 0 0 1px 2px #c8e2ff;
}

/* .delivery_address_form input {
    padding: 16px 12px;
    background-color: transparent;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    outline: none;
    color: var(--text-primary-color);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
} */

.delivery_address_form input[type=number]::-webkit-inner-spin-button,
.delivery_address_form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.delivery_address_form input:focus {
    /* box-shadow: 0 0 2px 1px var(--btn-highlight-background); */
    border: 1px solid #0166ff;
}

.delivery_address_form .button_container {
    display: flex;
    justify-content: stretch;
    width: 100%;
    height: auto;
    gap: 8px;
    padding: 30px 0 18px 0;
}

.delivery_address_form .button_container button {
    flex: 1;
    min-height: 60px;
    border-radius: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.delivery_address_form .button_container .reset_btn {
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    color: #2c2c2c;
}

.delivery_address_form .button_container .save_btn {
    border: none;
    /* background-color: var(--btn-background); */
    background-color: #0070F2;
    color: var(--btn-color);
}

/* Delivery Address */
.section_delivery_details {
    display: flex;
    gap: 32px;
}

.delivery_address_wrap {
    background-color: var(--tab-background-color);
    color: var(--text-primary-color);
    font-family: 'Inter', sans-serif;
    width: 500px;
    border-radius: 8px;
}

.delivery_address_wrap .delivery_address_top {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 36px;
    padding-left: 30px;
}

.delivery_address_wrap .delivery_address_top svg {
    width: 40px;
    height: 40px;
}

.delivery_address_wrap .delivery_address_top svg path {
    fill: var(--text-secondary-color);
}

.delivery_address_wrap .delivery_address_top .delivery_address_title {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.delivery_address_wrap .delivery_address_top .delivery_address_title p {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-secondary-color);
}

.delivery_address_wrap .delivery_address_content {
    padding: 0 36px;
    padding-bottom: 36px;
    font-family: 'Inter', sans-serif;
    height: 100%;
}

.delivery_address_wrap .delivery_address_content .empty_class {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary-color);
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family);
}

.delivery_address_wrap .delivery_address_content .toggle_address_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    color: var(--text-highlight-color);
    gap: 10px;
    padding: 0;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.delivery_address_wrap .delivery_address_content .toggle_address_btn.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid var(--btn-border-color);
    color: var(--btn-outline-color);
    gap: 10px;
    padding: 12px 16px;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.delivery_address_wrap .delivery_address_content .toggle_address_btn svg {
    width: 24px;
    height: 24px;
}

.delivery_address_wrap .delivery_address_content .toggle_address_btn svg path {
    fill: var(--text-highlight-color);
}

.delivery_address_wrap .delivery_address_content .toggle_address_btn.add svg path {
    fill: var(--btn-outline-color);
}

.delivery_address_wrap .delivery_address_content .username {
    font-weight: 500;
    font-size: 16px;
}

.delivery_address_wrap .delivery_address_content .address {
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0;
    margin-bottom: 24px;
    color: var(--text-primary-color);
}

@media only screen and (max-width: 1260px) {
    .section_cart_container {
        flex-direction: column;
        align-items: center;
    }

    .section_delivery_details {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    .section_cart_container {
        padding-bottom: 32px;
    }

    .shopping_cart_item .sc_item_thumb {
        min-width: 100px;
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }

    .delivery_address_wrap {
        min-width: 100%;
        width: 100%;
    }

    .order_details_container {
        min-width: 100%;
    }

    .cart_list {
        min-width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .order_details_container .amount {
        display: none;
    }

    .order_details_container .btn_place_order {
        width: 100%;
    }

    .delivery_address_form .button_container {
        flex-direction: column;

    }
}