.section_content.wishlist {
    padding-top: 0;
}

.section_content.wishlist #section_product_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    row-gap: 32px;
}

.section_content.wishlist #section_product_list .product_card {
    border-radius: 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: transparent;
}

.section_content.wishlist #section_product_list .product_card .product_thumbnail {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
}

.section_content.wishlist #section_product_list .product_card .product_details {
    padding: 0 8px;
    padding-bottom: 12px;
}

.section_content.wishlist #section_product_list .product_card .product_title {
    color: var(--text-primary-color);
    font-size: 16px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: var(--font-family);
}

.section_content.wishlist #section_product_list .product_card .product_title {
    color: var(--text-primary-color);
    font-size: 16px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: var(--font-family);
    margin: 12px 0;
}

.section_content.wishlist #section_product_list .product_card .product_details .product_rating {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1px;
}

.section_content.wishlist #section_product_list .product_card .product_details .product_rating svg {
    width: 18px;
    height: 18px;
}

.section_content.wishlist #section_product_list .product_card .product_details .product_rating svg path {
    fill: #d4d4d4;
}

.section_content.wishlist #section_product_list .product_card .product_details .product_rating svg.success path {
    fill: #388e3c;
}

.section_content.wishlist #section_product_list .product_card .product_details .product_rating span {
    font-size: 14px;
    margin-left: 4px;
    color: #868686;
    font-weight: 500;
}

.section_content.wishlist #section_product_list .product_wrap .btn_class {
    display: flex;
    gap: 8px;
}

.section_content.wishlist #section_product_list .product_wrap .btn_class .rm_wishlist_btn {
    padding: 4px 6px;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    background-color: transparent;
    cursor: pointer;
}

.section_content.wishlist #section_product_list .product_wrap .btn_class .rm_wishlist_btn svg path {
    fill: #475E75;
}

.section_content.wishlist #section_product_list .product_wrap .btn_class .add_to_cart_btn {
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #040404;
    color: #fff;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.section_content.wishlist #section_product_list .product_wrap .btn_class .add_to_cart_btn svg path {
    fill: #fff;
}

@media only screen and (max-width: 500px) {
    .section_content.wishlist #section_product_list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 12px;
    }
}