.section_content.wishlist {
    padding-top: 0;
}

.section_content.wishlist #section_product_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    row-gap: 32px;
}

.section_content.wishlist #section_product_list .product_card {
    border-radius: 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: block;
    background-color: transparent;
}

.section_content.wishlist #section_product_list .product_card .product_thumbnail {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
}

.section_content.wishlist #section_product_list .product_card .product_details {
    padding: 12px 8px;
}

.section_content.wishlist #section_product_list .product_card .product_title {
    color: var(--text-primary-color);
    font-size: 16px;
    font-weight: 600;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-family: 'Syne', sans-serif;
}

.section_content.wishlist #section_product_list .product_card .product_desc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--text-secondary-color);
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 40px;
    padding: 0;
    margin-top: 10px;
}

.section_content.wishlist #section_product_list .product_wrap .btn_class {
    display: flex;
    gap: 8px;
}

.section_content.wishlist #section_product_list .product_wrap .btn_class .rm_wishlist_btn {
    padding: 4px 6px;
    border-radius: 8px;
    border: 1px solid var(--btn-border-color);
    background-color: transparent;
    cursor: pointer;
}

.section_content.wishlist #section_product_list .product_wrap .btn_class .rm_wishlist_btn svg path {
    fill: var(--btn-outline-color);
}

.section_content.wishlist #section_product_list .product_wrap .btn_class .add_to_cart_btn {
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--btn-background);
    color: var(--btn-color);
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.section_content.wishlist #section_product_list .product_wrap .btn_class .add_to_cart_btn svg path {
    fill: var(--btn-color);
}