@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.product_details_container {
    display: flex;
    justify-content: stretch;
    align-items: start;
    flex-wrap: nowrap;
    gap: 50px;
}

.product_details_container .img_slider_container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #252526;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% - 500px);
    min-width: 380px;
}

.product_details_container .img_slider_container .add_to_wishlist_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 32px;
    margin: 12px;
    transition: .2s ease-in;
    z-index: 999;
}

.product_details_container .img_slider_container .add_to_wishlist_btn:hover {
    background-color: #333333;
}

.product_details_container .img_slider_container .add_to_wishlist_btn svg {
    width: 40px;
    height: 40px;
}

.product_details_container .img_slider_container .add_to_wishlist_btn svg path {
    fill: #D9D9D9;
}

.product_details_container .img_slider_container .add_to_wishlist_btn.active svg path {
    fill: #FF0056;
}

.product_details_container .product_thumbnail {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.product_details_container .product_details {
    width: 450px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.product_details_container .product_details .product_name {
    font-family: 'Syne', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 30px;
}

.product_details_container .product_details .product_desc {
    color: #8C8C8C;
    font-size: 16px;
    line-height: 24px;
}

.product_details_container .product_details .flex_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.product_details_container .product_details .flex_box .product_price {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.product_details_container .product_details .flex_box .q_selector_container .q_tag {
    color: #8C8C8C;
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}

.product_details_container .product_details .flex_box .q_selector_container .q_btn {
    color: #D9D9D9;
    font-size: 24px;
    background-color: transparent;
    border: none;
    padding: 16px;
}

.product_details_container .product_details .flex_box .q_selector_container .q_input {
    color: #D9D9D9;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #8C8C8C;
    width: 30px;
    text-align: center;
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
}

.product_details_container .product_details .flex_box .q_selector_container .q_input:focus {
    outline: none;
    border-bottom: 2px solid #D9D9D9;
}

.product_details_container .product_details .flex_box .q_selector_container .q_input::-webkit-inner-spin-button,
.product_details_container .product_details .flex_box .q_selector_container .q_input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.product_details_container .product_details .action_btn_container {
    display: flex;
    justify-content: stretch;
    gap: 10px;
    padding-top: 40px;
}

.product_details_container .product_details .action_btn_container .buy_now_btn {
    flex: 1;
    background-color: #F8EE3E;
    color: #1E1E1E;
    border-radius: 4px;
    border: none;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-wrap: nowrap;
    gap: 20px;
    text-transform: uppercase;
    font-family: 'Syne', sans-serif;
}

.product_details_container .product_details .action_btn_container .add_to_cart_btn {
    flex: 1;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #3A3A3A;
    color: #858585;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-wrap: nowrap;
    gap: 20px;
    text-transform: uppercase;
    font-family: 'Syne', sans-serif;
}

.product_details_container .product_details .action_btn_container .buy_now_btn svg,
.product_details_container .product_details .action_btn_container .add_to_cart_btn svg {
    width: 32px;
}

.product_details_container .product_details .action_btn_container .add_to_cart_btn svg path {
    fill: #858585;
}

.section_related_products {
    padding-top: 50px;
}

.section_related_products .rp_title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Syne', sans-serif;
}

.section_related_products .rp_products_container {
    width: 100%;
    height: 410px;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    padding-top: 30px;
    gap: 16px;
}

.section_related_products .rp_products_container::-webkit-scrollbar {
    display: none;
}

.section_related_products .rp_products_container .rp_product_card {
    min-width: fit-content;
    height: 100%;
    background-color: #252526;
    border-radius: 8px;
    overflow: hidden;
}

.section_related_products .rp_products_container .rp_product_card .rp_product_thumb {
    width: 240px;
    height: 240px;
    object-fit: cover;
    background-color: #2D2D27;
}

.section_related_products .rp_products_container .rp_product_card .rp_product_card_details {
    width: 240px;
    padding: 10px 16px;
}

.section_related_products .rp_products_container .rp_product_card .rp_product_card_details .rp_product_name {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    font-family: 'Syne', sans-serif;
    max-height: 48px;
    margin-bottom: 10px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 0;
}

.section_related_products .rp_products_container .rp_product_card .rp_product_card_details .rp_product_desc {
    font-size: 12px;
    color: #8C8C8C;
    font-weight: 400;
    height: 48px;
    margin-bottom: 10px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    padding: 0;
}

@media only screen and (max-width: 1100px) {
    .product_details_container .img_slider_container {
        width: 100%;
        max-width: 400px;
    }

    .product_details_container .product_details {
        width: 100%;
        min-width: none;
    }

    .product_details_container .product_details .product_name {
        font-size: 32px;
    }

    .product_details_container .product_details .product_desc {
        font-size: 14px;
    }

    .product_details_container .product_details .flex_box .product_price {
        font-size: 24px;
    }

    .product_details_container .product_details .flex_box .q_selector_container .q_btn {
        font-size: 20px;
    }

    .product_details_container .product_details .flex_box .q_selector_container .q_input {
        font-size: 16px;
        width: 30px;
        padding: 10px 0;
    }
}
@media only screen and (max-width: 980px) {
    .product_details_container {
        align-items: center;
        flex-direction: column;
    }

    .product_details_container .product_details .action_btn_container {
        width: fit-content;
    }
}

@media only screen and (max-width: 540px) {
    .product_details_container {
        width: 100%;
        max-width: none;
        min-width: none;
    }
    .product_details_container .img_slider_container {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .product_details_container .product_details {
        flex-direction: column;
        align-items: stretch;
        justify-content: start;
        width: 100%;
        min-width: 100%;
    }

    .product_details_container .product_details .product_name {
        font-size: 28px;
    }

    .product_details_container .product_details .product_desc {
        font-size: 14px;
    }

    .product_details_container .product_details .flex_box .product_price {
        font-size: 24px;
    }

    .product_details_container .product_details .flex_box .q_selector_container .q_btn {
        font-size: 20px;
    }

    .product_details_container .product_details .flex_box .q_selector_container .q_input {
        font-size: 16px;
        width: 30px;
        padding: 10px 0;
    }
    .product_details_container .product_details .action_btn_container {
        width: 100%;
        justify-content: stretch;
    }
}

@media only screen and (max-width: 440px) {
    .product_details_container .product_details .action_btn_container {
        width: 100%;
        flex-direction: column-reverse;
    }
    .product_details_container .product_details .action_btn_container .buy_now_btn {
        width: 100%;
    }
    .product_details_container .product_details .action_btn_container .add_to_cart_btn {
        width: 100%;
    }
}