header {
    /* background-color: #1E1E1E !important; */
}

#filter_nav {
    background-color: #1E1E1E;
    height: 100vh;
    width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 50px 36px;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    color: #fff;
}

#filter_nav .filter_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter_nav .filter_top .filter_title {
    font-size: 24px;
    font-weight: 500;
}

#filter_nav .filter_top .clear_filter_btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 8px 12px;
    border: 1px solid #d4d4d4;
    background-color: transparent;
    color: #d4d4d4;
    cursor: pointer;
}

#filter_nav .filter_wrapper {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: stretch;
    align-items: start;
    overflow-y: auto;
    height: 100%;
}

#filter_nav .filter_wrapper::-webkit-scrollbar {
    display: none;
}

#filter_nav .filter_wrapper .filter_features {
    width: 100%;
}

#filter_nav .filter_wrapper .filter_features ul li {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter_nav .filter_wrapper .filter_features ul li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#filter_nav .filter_wrapper .filter_features details {
    width: 100%;
    padding: 0;
    margin: 0;
}

#filter_nav .filter_wrapper .filter_features details p {
    width: 100%;
    max-height: 160px;
    overflow-y: auto;
}

#filter_nav .filter_wrapper .filter_features details p::-webkit-scrollbar {
    display: none;
}

#filter_nav .filter_wrapper .filter_features details p {
    display: flex;
    justify-content: start;
    align-items: start;
    /* background-color: #2c2c2c; */
    border-radius: 4px;
    padding: 0 10px;
}

#filter_nav .filter_wrapper .filter_features details p ul li {
    height: 40px;
}

#filter_nav .filter_wrapper .filter_features details p ul li input {
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.filter_bottom {
    padding-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
}

.filter_bottom .products_count {
    font-weight: 500;
    font-size: 20px;
}

.filter_bottom .products_count span {
    font-weight: 300;
    font-size: 12px;
    color: #bbb;
}

.filter_bottom .filter_btn {
    background-color: #fff;
    border-radius: 4px;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
}

/* ProductList */
#section_product_list {
    width: 100%;
    min-height: 100%;
    padding: 100px 40px 50px 360px;
    display: flex;
    justify-content: start;
    gap: 24px;
    flex-wrap: wrap;
}

#section_product_list .product_card {
    background-color: #1E1E1E;
    border-radius: 8px;
    padding: 20px;
    width: 100% !important;
    max-width: 320px;
    min-width: 240px;
}

#section_product_list .product_card .product_thumbnail {
    height: 160px;
    aspect-ratio: 4/3;
    object-fit: contain;
}

#section_product_list .product_card .product_title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

#section_product_list .product_card .product_desc {
    color: #898989;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 70px;
    padding: 0;
    margin: 16px 0;
}

#section_product_list .product_card .product_nav {
    display: flex;
    gap: 10px;
    padding: 0;
    justify-content: stretch;
}

#section_product_list .product_card .product_nav .product_nav_btn {
    padding: 10px;
    color: #000;
    background-color: #fff;
    font-weight: 500;
    border-radius: 4px;
    display: block;
    flex: 1;
    text-align: center;
}

#section_product_list .product_card .product_nav .product_nav_btn_outline {
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 4px;
    flex: 1;
    display: block;
    text-align: center;
}