:root {
    --btn-border-color: #3A3A3A;
    --btn-color: #fff;
    --btn-outline-color: #3A3A3A;
    --btn-background: #1e1e1e;
    --btn-disabled-background: #1e1e1e54;
    --btn-highlight-background: #336aea;
    --text-primary-color: #1E1E1E;
    --text-secondary-color: #8C8C8C;
    --text-highlight-color: #336aea;
    --body-background-color: #f5f5f5;
    --tab-background-color: #fff;
    --input-border-color: #d4d4d4;
}

[data-theme="dark"] {
    --btn-border-color: #343434;
    --btn-color: #1e1e1e;
    --btn-outline-color: #d4d4d4;
    --btn-background: #fff;
    --btn-highlight-background: #F8EE3E;
    --text-primary-color: #fff;
    --text-secondary-color: #8C8C8C;
    --text-highlight-color: #F8EE3E;
    --body-background-color: #1E1E1E;
    --tab-background-color: #262626;
}